.content {
  margin: 0 auto;
  width: 50%;
  max-width: 600px;

  .bp3-card {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .github-log {
    width: 14px;
    vertical-align: bottom;
    margin: 0 5px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}