@import "@style/variable";

.film-container {
  background-image: radial-gradient(ellipse farthest-corner at 50% 50%, $color9, $color4);
  background-color: #fff;
  max-width: 300px;
}
.film-top,
.film-bottom {
  height: 30px;
}
.film-inner {
  background: blue;
  padding: 50px 5px;
  border-radius: 20px;
  margin: 0 30px;
  position: relative;
}
.film-title {
  font-size: 1.3rem;
  letter-spacing: 7px;
}
.film-date {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}