@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "variable";

html,
body,
#root {
  height: 100%;
}

body.bp3-dark {
  background-color: #30404d;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}