$color1: #E4CBB2;
$color2: #D4B89E;
$color3: #C3A68A;
$color4: #B39477;
$color5: #A38364;
$color6: #937252;
$color7: #836140;
$color8: #73512F;
$color9: #63411E;

$direction: (t: 'top', r: 'right', b: 'bottom', l: 'left');
$sizeMap: (s: 8, m: 16, l: 24);